
#container{ background: #f7f6f2;}
#container .title{ margin: 0 0 0 30px;  line-height: 70px; color: #a7a7a7; text-shadow: 0 -1px 0 #fff; font-size: 2em; font-weight: bold; background: #fafafa; border-top: 1px solid #fff; border-bottom: 1px solid #eee; margin: 0 0 10px 0; height: 70px; width: 1080px; margin: 0 auto;}
